h2, .container {
	margin: 60px auto;
}

h2 {
	width: fit-content;
}

.score {
	font-size: .8rem;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 560px;
	height: 300px;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.719);
}

.block {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: blue;
}

.user {
	position: absolute;
	width: 100px;
	height: 20px;
}
.ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: green;
	position: absolute;
}